
#container {
	width: 100%;
	text-align: center;
	border: 0px solid #bcbcbc;
}

#header {
	border: 0px solid #bcbcbc;
	position: fixed;
	width: 100%;
	z-index: 997;
}

#sidebar-left {
	width: 15%;
	height: 700px;
	margin-right: 5px;
	float: left;
	border: 0px solid #bcbcbc;
	font-size: 10px;
	min-width:150px;
}

#content {
	width: 100%;
	padding-top: 63px;
	border: 0px solid #bcbcbc;
	background-color: white;
}

#footer {
	clear: both;
	width: 100%;
	border: 0px solid #bcbcbc;
	background-color: #333; /* 
        display:flex; */
}

.lnb {
	display: block;
	border-bottom: 1px solid #eeeeee;
	padding: 20px 0 0;
}

.lnb >ul {
	list-style: none;
	padding: 0;
	text-align: left;
}

.lnb>ul>li {
	display: inline-block;
	margin-left: 9px;
	padding-left: 15px;
	margin-left: 9px;
}

.pageIntro {
	font-family: 'Noto Sans KR', sans-serif;
	margin-top: 50px;
	text-align: left;
	font-size: 34px;
	font-weight: 450;
	background: url("${contextPath}/../../image/icon/ico_title_bar.png");
	background-repeat:no-repeat;
}


a:link, a:visited, a:hover {
	color: black;
	text-decoration: none;
}

@media all and (min-width: 892px) {
	.navbar .nav-item .dropdown-menu {
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		margin-top: 0;
	}
	.navbar .nav-item:hover .nav-link:hover {
		color: #f64d4d;
		border-bottom: 2px solid #f64d4d;
	}
	.navbar .nav-item:hover .nav-link-admin:hover {
		color: #f64d4d;
		border-bottom: 2px solid #f64d4d;
	}
	.navbar .dropdown-menu .fade-down {
		top: 80%;
		transform: rotateX(-75deg);
		transform-origin: 0% 0%;
		color: #f64d4d;
	}
	.navbar .dropdown-menu .fade-up {
		top: 180%;
		color: orangered;
	}
	.navbar .nav-item:hover .dropdown-menu {
		display: block;
		transition: .3s;
		opacity: 1;
		visibility: visible;
		top: 100%;
		transform: rotateX(0deg);
		color: #f64d4d;
	}
}

@media ( min-width : 1200px) {
	.navbar-expand-xl .navbar-collapse {
		padding: 10px;
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
}

.bg-primary {
	background-color: white !important;
	box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
	-webkit-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
	-moz-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
}

.bg-primary-admin {
	background-color: #212529 !important;
	height: 63.2px;
	box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
	-webkit-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
	-moz-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
}

.navbar-dark .navbar-nav .nav-item .nav-link {
	color: black;
	font-family: S-CoreDream-3Light;
	font-weight: bold;
	transition: color 0.4s; /* For modern browsers */
}

.navbar-dark .navbar-nav .nav-item .nav-link-admin {
	color: white;
	font-family: S-CoreDream-3Light;
	font-weight: bold;
	padding: 8px;
	transition: color 0.4s; /* For modern browsers */
}

.navbar-brand img {
	width: 118px;
	height: 37px;
	padding-bottom: 1px;
}

.navbar-brand-admin img {
	width: 118px;
	height: 33px;
	padding-bottom: 1px;
	margin-left: 50px;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
	color:red;
	background-color:#eee
}