/*검색박스, 게시판형식 테이블, 버튼*/
/*courseTake/courseApplyList.jsp에서 html태그 복사해가세요*/
/*<link rel="stylesheet" type="text/css"
	href="${pageContext.request.contextPath}/resources/css/style.css" />*/
	
@charset "UTF-8";

.container {
	width: 80%;
	font-family: 'Noto Sans KR', sans-serif;
}

/*검색박스*/
.well-searchbox {
	min-height: 20px;
	min-width: 400px;
	padding: 19px;
	top: 90px;
	background: #f8f8f8;
	margin-bottom: 20px;
	padding-bottom: 0px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-top: 30px;
}

.well-searchbox label {
	/* color: #555; */
	width: 20%;
	margin: 10px;
	text-align: right;
}

.serarchSubject {
	display: flex;
	flex-direction: row;
}

.searchTitle {
	margin-right: 20px;
}

.form-control {
	border: hidden;
	width: 88%;
}

.form-select {
	border: hidden;
	width: 41%;
	display: inline-block;
	margin-right: 6%;
}

.col-md-8 {
	display: inline-block;
	text-align: left;
}

/* .subject {
	display: flex;
	flex-direction: row;
} */


/*게시판 테이블*/
.table_ {
	border-collapse: collapse;
	font-size: 14px;
	line-height: 2.2;
	text-align: center;
	/* color: #555; */
	width: 100%;
	margin: auto;
	line-height: 40px;
}

.table_ > thead {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	background-color: #f8f8f8;
	text-align: center;
}

/*버튼*/
.btn {
	color: white;
	background-color: tomato;
	border-color: rgba(247, 94, 94, 0 .8);
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button_bottom {
	background-color: tomato;
	float: right;
	margin-left: 10px;
}

