.nav-side-menu {
	min-width:150px;
	padding-top: 62px;
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	position: absolute;
	top: 0px;
	width: 300px;
	color: #e1ffff;
	height: 100%;
	width: 15%;
	background-color:gray;
	box-shadow: 5px 5px 5px -2px rgb(25 25 25 / 15%);
}

.nav-side-menu .brand {
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.nav-side-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;
	/*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.nav-side-menu ul :not(collapsed) .arrow:before, .nav-side-menu li :not(collapsed) .arrow:before
	{
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover
	{
	background-color: #020203;
}

/* .nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before
	{
	font-family: Fontawesome;
	content: "\f105";
	display: inline-block;
	padding-left: 20px;
	padding-right: 10px;
	vertical-align: middle;
} */

.nav-side-menu li {
	background-color: gray;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid red;
	font-size:15px;
	padding:5px;
	font-weight:600;
	min-width:150px;
}

.nav-side-menu li a {
	font-size:15px;
	font-weight:600;
	color: #e1ffff;
	font-family: 'S-CoreDream-3Light';
}

.nav-side-menu li a i {
	width: 20px;
	padding-right: 20px;
}

.nav-side-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
	.nav-side-menu .menu-list .menu-content {
		display: block;
}

body {
	margin: 0px;
	padding: 0px;
}

.nav-side-menu ul .sub-menu ul .sub-line li.active, .nav-side-menu li .sub-menu li .sub-line li.active
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li .sub-line li.active a, .nav-side-menu li .sub-menu li .sub-line li.active a
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li .sub-line li, .nav-side-menu li .sub-menu li .sub-line li
	{
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li .sub-line li:hover, .nav-side-menu li .sub-menu li .sub-line li:hover
	{
	background-color: #020203;
}

.nav-side-menu ul .sub-menu li .sub-line li:before, .nav-side-menu li .sub-menu li .sub-line li:before
	{
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 100px;
	padding-right: 10px;
	vertical-align: middle;
}

.nav-side-menu .sub-menu li {
	padding-left: 20px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}

.nav-side-menu .sub-menu li a {
	margin-right: 20px;
	text-decoration: none;
	color: #e1ffff;
}

.nav-side-menu li .sub-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}