<component name="ArtifactManager">
  <artifact type="war" name="springEx:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springEx</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springEx-1.0.0-BUILD-SNAPSHOT.war">
      <element id="artifact" artifact-name="springEx:war exploded" />
    </root>
  </artifact>
</component>